<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014769410155-9hi03apv8pr7k3tql7nefat35pgfs2vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014769410155-9hi03apv8pr7k3tql7nefat35pgfs2vs</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Oo-rbjJE8lsdWY93gVXs6Nlsoi6eRcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1014769410155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wpushes</string>
	<key>PROJECT_ID</key>
	<string>wpushes</string>
	<key>STORAGE_BUCKET</key>
	<string>wpushes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014769410155:ios:2c1d5b36a76398c9af512e</string>
</dict>
</plist>